html {
  box-sizing: border-box;
  font-size: 100%; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html, body {
  position: relative; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1 {
  margin-bottom: 1.5rem; }

p, ul {
  margin-bottom: 3.25rem; }

img {
  width: 100%;
  height: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  outline: none;
  border: none; }

.container {
  width: 70%;
  margin: 0 auto; }
  .container section:first-of-type {
    margin-top: 3.25rem; }

.su_hidden {
  display: none; }

@keyframes maskDown {
  from {
    clip-path: inset(0 0 100% 0); }
  to {
    clip-path: inset(0 0 0 0); } }
@keyframes maskUp {
  0% {
    clip-path: inset(0 0 0 0); }
  100% {
    clip-path: inset(0 0 100% 0); } }
@keyframes coverUp {
  0% {
    opacity: .5;
    width: 95%;
    height: 95%;
    top: 5%;
    left: 2.5%; }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%; } }
.su_fs-carousel {
  background-color: transparent;
  display: block;
  margin-bottom: 1.85rem;
  overflow: auto;
  width: 100%; }
  .su_fs-carousel .su_fs-slides {
    display: flex;
    justify-content: space-between; }
  .su_fs-carousel .su_fs-slide {
    width: 30%; }
    .su_fs-carousel .su_fs-slide:last-child {
      margin-right: 0; }
    .su_fs-carousel .su_fs-slide figcaption {
      text-align: center;
      display: none;
      opacity: 0.7;
      color: #fff; }
  .su_fs-carousel.su_fs-carousel--active {
    animation: .2s ease-in forwards coverUp;
    background-color: rgba(20, 19, 33, 0.6);
    color: #ababab;
    margin-bottom: 0;
    position: fixed; }
    .su_fs-carousel.su_fs-carousel--active .su_fs-carousel-icons {
      display: block; }
    .su_fs-carousel.su_fs-carousel--active .su_fs-slides {
      position: relative; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slides span {
        background-color: gray;
        position: absolute;
        height: 3px;
        width: 100vw;
        transition: bottom 0.5s cubic-bezier(1, 0.01, 0.55, 0.99); }
    .su_fs-carousel.su_fs-carousel--active .su_fs-slide {
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      user-select: none;
      transition: clip-path 0s ease-out .5s; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-down {
        clip-path: inset(0% 0 70% 0); }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-up {
        clip-path: inset(70% 0 0% 0); }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_fs-slide--active {
        clip-path: inset(0 0 0 0);
        pointer-events: none;
        position: relative;
        z-index: 1;
        transition: clip-path 0.5s cubic-bezier(1, 0.01, 0.55, 0.99); }
        .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_fs-slide--active figcaption {
          display: block;
          padding-top: 10px; }
  .su_fs-carousel .su_fs-carousel-icons {
    display: none;
    position: relative;
    height: 50px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--close,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      color: #ababab;
      cursor: pointer;
      height: 100%;
      padding: 7px 0;
      position: absolute; }
      .su_fs-carousel .su_fs-carousel-icons .su_icon--close:hover,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--next:hover,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--prev:hover {
        color: #eeeeee; }
      .su_fs-carousel .su_fs-carousel-icons .su_icon--close i,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--next i,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--prev i {
        font-size: 24px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--close {
      right: 20px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next {
      right: calc(50% - 50px); }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      right: calc(50% + 50px); }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      visibility: visible; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next {
      z-index: 10; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      overflow: hidden;
      z-index: 9; }
  .su_fs-carousel .su_hidden {
    visibility: hidden; }

/*# sourceMappingURL=main.css.map */
