html {
  box-sizing: border-box;
  font-size: 100%; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html, body {
  position: relative; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

h1 {
  margin-bottom: 1.5rem; }

p, ul {
  margin-bottom: 3.25rem; }

img {
  width: 100%;
  height: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  outline: none;
  border: none; }

.container {
  width: 70%;
  margin: 0 auto; }
  .container section:first-of-type {
    margin-top: 3.25rem; }

.su_hidden {
  display: none; }

@keyframes slide-up {
  0% {
    clip-path: inset(100% 0 0 0); }
  100% {
    clip-path: inset(0 0 0 0); } }
@keyframes slide-down {
  0% {
    clip-path: inset(0 0 0 0); }
  100% {
    clip-path: inset(100% 0 0 0); } }
@keyframes open-carousel {
  0% {
    opacity: .3;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%; }
  50% {
    opacity: 1; }
  100% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; } }
@keyframes close-carousel {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 19, 33, 0.6);
    position: fixed; }
  100% {
    background-color: transparent;
    width: 96%;
    top: 2%;
    left: 2%;
    height: 96%; } }
@keyframes open-slides {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.su_fs-carousel {
  background-color: transparent;
  display: block;
  margin-bottom: 1.85rem;
  width: 100%;
  transition: all .3s ease-in; }
  .su_fs-carousel .su_fs-slides {
    display: flex;
    justify-content: space-between; }
  .su_fs-carousel .su_fs-slide {
    width: 30%; }
    .su_fs-carousel .su_fs-slide:hover {
      cursor: pointer; }
    .su_fs-carousel .su_fs-slide figcaption {
      text-align: center;
      display: none;
      color: #5a5565; }
  .su_fs-carousel.su_fs-carousel--active {
    animation: 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards open-carousel;
    background-color: rgba(20, 19, 33, 0.6);
    color: #ababab;
    position: fixed; }
    .su_fs-carousel.su_fs-carousel--active.su_fs-carousel--open {
      animation: 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards open-carousel; }
      .su_fs-carousel.su_fs-carousel--active.su_fs-carousel--open .su_fs-slides {
        animation: 1s cubic-bezier(0.19, 1, 0.22, 1) forwards open-slides; }
    .su_fs-carousel.su_fs-carousel--active.su_fs-carousel--close {
      animation: 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards close-carousel; }
      .su_fs-carousel.su_fs-carousel--active.su_fs-carousel--close .su_fs-carousel-icons {
        display: none; }
      .su_fs-carousel.su_fs-carousel--active.su_fs-carousel--close figcaption {
        display: none; }
    .su_fs-carousel.su_fs-carousel--active .su_fs-carousel-icons {
      display: block; }
    .su_fs-carousel.su_fs-carousel--active .su_fs-slides {
      position: relative;
      height: 100%; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slides .su_fs-carousel-bars {
        background-color: #41485f;
        position: absolute;
        height: 2px;
        display: block;
        width: 100%;
        z-index: 100; }
    .su_fs-carousel.su_fs-carousel--active .su_fs-slide {
      background-color: #1c1728;
      opacity: 0;
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      user-select: none;
      width: 100%; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide:first-of-type {
        z-index: 100; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide:nth-of-type(2) {
        z-index: 90; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide:nth-of-type(3) {
        z-index: 80; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-down, .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-up {
        opacity: 1; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-down {
        animation: slide-down 0.7s forwards cubic-bezier(0.19, 1, 0.22, 1); }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_mask-up {
        animation: slide-up 0.7s forwards cubic-bezier(0.19, 1, 0.22, 1); }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide figcaption {
        display: block;
        padding-top: 10px; }
      .su_fs-carousel.su_fs-carousel--active .su_fs-slide.su_fs-slide--active {
        opacity: 1; }
  .su_fs-carousel .su_fs-carousel-icons {
    background-color: #1c1728;
    display: none;
    position: relative;
    height: 50px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--close,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      color: #5f5672;
      cursor: pointer;
      height: 100%;
      padding: 7px 0;
      position: absolute; }
      .su_fs-carousel .su_fs-carousel-icons .su_icon--close:hover,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--next:hover,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--prev:hover {
        color: #eeeeee; }
      .su_fs-carousel .su_fs-carousel-icons .su_icon--close i,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--next i,
      .su_fs-carousel .su_fs-carousel-icons .su_icon--prev i {
        font-size: 24px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--close {
      right: 20px; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next {
      right: calc(50% - 50px); }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      right: calc(50% + 50px); }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next,
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      visibility: visible; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--next {
      z-index: 10; }
    .su_fs-carousel .su_fs-carousel-icons .su_icon--prev {
      overflow: hidden;
      z-index: 9; }
  .su_fs-carousel .su_hidden {
    visibility: hidden; }

/*# sourceMappingURL=main.css.map */
