@keyframes maskDown {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes maskUp {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}
.su_fs-carousel {
  background-color: transparent;
  display: block;
  margin-bottom: 1.85rem;
  overflow: auto;
  width: 100%;

  .su_fs-slide {
    display: inline-block;
    float: left;
    margin-right: 5%;
    width: 30%;

    &:last-child {
      margin-right: 0;
    }

    figcaption {
      text-align: center;
      display: none;
    }

  }

  &.su_fs-carousel--active {
    background-color: rgba(20, 19, 33, 0.8);
    color: #ababab;
    float: unset;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    
    .su_fs-carousel-icons {
      display: block;
    }

    .su_fs-slides {
      position: relative;

      span {
        background-color: gray;
        position: absolute;
        height: 1.2px;
        width: 100%;
        transition: bottom .5s ease-out;
      }
    }

    .su_fs-slide {
      clip-path: unset;
      margin-right: 0;
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      float: unset;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      z-index: 100;      
      transition: clip-path .3s ease-out .5s;

      &.su_mask-down {
        clip-path: inset(0% 0 100% 0);
        transition: clip-path 0s ease-out .5s;
      }
      &.su_mask-up {
        clip-path: inset(100% 0 0% 0);
        transition: clip-path 0s ease-out .5s;
      }
      
      &.su_mask-down--initial {
        animation: .5s ease-out maskDown;
      }

      &.su_fs-slide--active {
        clip-path: inset(0 0 0 0);
        pointer-events: none;
        position: relative;
        z-index: 110;
        transition: clip-path .5s ease-out;
        //animation: .5s ease-out forwards maskUp;
        
        
        figcaption {
          display: block;
          padding-top: 10px;
        }
      }
    }
  }

  .su_fs-carousel-icons {
    display: none;
    position: relative;
    height: 50px;
    z-index: 120;

    .su_icon--close,
    .su_icon--next,
    .su_icon--prev {
      color: #ababab;
      cursor: pointer;
      height: 100%;
      padding: 7px 0;
      position: absolute;

      &:hover {
        color: #eeeeee;
      }

      i {
        font-size: 24px;
      }
    }

    .su_icon--close,
    .su_icon--next {
      right: 20px;
    }

    .su_icon--next,
    .su_icon--prev {
      bottom: -62px;

      &[disabled="true"] {
        color: #a3a3a3;
      }
    }

    .su_icon--next {
      z-index: 10;
    }

    .su_icon--prev {
      right: 100px;
      overflow: hidden;
      z-index: 9;
    }
  }

}