@keyframes maskUp {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0); 
  }
}

@keyframes maskDown {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(100% 0 0 0); 
  }
}
@keyframes coverUp {
  0% {
    opacity: .5;
    width: 98%;
    height: 98%;
    top: 2%;
    left: 1%;
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
  }
}

.su_fs-carousel {
  background-color: transparent;
  display: block;
  margin-bottom: 1.85rem;
  overflow: auto;
  width: 100%;
  
  .su_fs-slides {
    display: flex;
    justify-content: space-between;
  }
  .su_fs-slide {
    width: 30%;

    figcaption {
      text-align: center;
      display: none;
      opacity: 0.7;
      color: #fff;
    }

  }

  &.su_fs-carousel--active {
    animation: .2s ease-in forwards coverUp;
    background-color: rgba(20, 19, 33, 0.8);
    color: #ababab;
    position: fixed;
    overflow: hidden;
    
    .su_fs-carousel-icons {
      display: block;
    }

    .su_fs-slides {
      background-color: rgb(20, 19, 33);
      position: relative;
      height: 100%;
      span {
        background-color: gray;
        position: absolute;
        height: 3px;
        width: 100vw;
        transition: bottom .6s ease-out;
      }
    }

    .su_fs-slide {
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
      user-select: none;
      opacity: 0;

      &:first-of-type {
        z-index: 100;
      }
      &:nth-of-type(2) {
        z-index: 90;
      }
      &:nth-of-type(3) {
        z-index: 80;
      }
  
      &.su_mask-down,
      &.su_mask-up {
        opacity: 1;
      }

      &.su_mask-down {
        animation: maskDown 1s forwards ease-out;
      }
      &.su_mask-up {
        animation: maskUp 1s forwards ease-out;
      }

      &.evo_s-is-activated {
        figcaption {
          display: block;
          padding-top: 10px;
        }
      }
      
      

      &.su_mask-down--initial {
        animation: .5s ease-out maskDown;
      }

      &.su_fs-slide--active {
        opacity: 1;
        
      }
    }
  }

  .su_fs-carousel-icons {
    display: none;
    position: relative;
    height: 50px;
    z-index: 120;

    .su_icon--close,
    .su_icon--next,
    .su_icon--prev {
      color: #ababab;
      cursor: pointer;
      height: 100%;
      padding: 7px 0;
      position: absolute;

      &:hover {
        color: #eeeeee;
      }

      i {
        font-size: 24px;
      }
    }

    .su_icon--close {
      right: 20px;
    }
    .su_icon--next {
      right: calc(50% - 50px);
    }
    .su_icon--prev {
      right: calc(50% + 50px);
    }

    .su_icon--next,
    .su_icon--prev {  
      visibility: visible;
    }

    .su_icon--next {
      z-index: 10;
    }

    .su_icon--prev {
      overflow: hidden;
      z-index: 9;
    }
  }

  .su_hidden {
    visibility: hidden;
  }

}