@keyframes slide-up {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0); 
  }
}

@keyframes slide-down {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(100% 0 0 0); 
  }
}
@keyframes open-carousel {
  0% {
    opacity: .3;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}
@keyframes close-carousel {
  0% {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 19, 33, 0.6);
    position: fixed;
  }
  100% {
    background-color: transparent;
    width: 96%;
    top: 2%;
    left: 2%;
    height: 96%;
  }
}
@keyframes open-slides {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.su_fs-carousel {
  background-color: transparent;
  display: block;
  margin-bottom: 1.85rem;
  width: 100%;
  transition: all .3s ease-in;
  
  .su_fs-slides {
    display: flex;
    justify-content: space-between;
  }
  .su_fs-slide {
    width: 30%;

    &:hover {
      cursor: pointer;
    }

    figcaption {
      text-align: center;
      display: none;
      color: #5a5565;
    }

  }

  &.su_fs-carousel--active {
    animation: .3s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards open-carousel;
    background-color: rgba(20, 19, 33, 0.6);
    color: #ababab;
    position: fixed;
    
    &.su_fs-carousel--open {
      animation: .3s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards open-carousel;

      .su_fs-slides {
        animation: 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards open-slides;
      }
    }

    &.su_fs-carousel--close {
      animation: .5s cubic-bezier(0.190, 1.000, 0.220, 1.000) forwards close-carousel;

      .su_fs-carousel-icons {
        display: none;
      }

      figcaption {
        display: none;
      }
    }
    
    
    .su_fs-carousel-icons {
      display: block;
    }

    .su_fs-slides {
      position: relative;
      height: 100%;

      .su_fs-carousel-bars {
        background-color: lighten(#2c3141, 10%);
        position: absolute;
        height: 2px;
        display: block;
        width: 100%;
        z-index: 100;
        //transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
      }
    }

    .su_fs-slide {
      background-color: #1c1728;
      opacity: 0;
      padding: 10px 0;
      pointer-events: none;
      position: absolute;
      user-select: none;
      width: 100%;
      

      &:first-of-type {
        z-index: 100;
      }
      &:nth-of-type(2) {
        z-index: 90;
      }
      &:nth-of-type(3) {
        z-index: 80;
      }
  
      &.su_mask-down,
      &.su_mask-up {
        opacity: 1;
      }

      &.su_mask-down {
        animation: slide-down .7s forwards cubic-bezier(0.190, 1.000, 0.220, 1.000);
      }
      &.su_mask-up {
        animation: slide-up .7s forwards cubic-bezier(0.190, 1.000, 0.220, 1.000);
      }
      
      figcaption {
        display: block;
        padding-top: 10px;
      }

      &.evo_s-is-activated {
        
      }

      &.su_fs-slide--active {
        opacity: 1;        
      }
    }
  }

  .su_fs-carousel-icons {
    background-color: #1c1728;
    display: none;
    position: relative;
    height: 50px;

    .su_icon--close,
    .su_icon--next,
    .su_icon--prev {
      color: lighten(#474055, 10%);
      cursor: pointer;
      height: 100%;
      padding: 7px 0;
      position: absolute;

      &:hover {
        color: #eeeeee;
      }

      i {
        font-size: 24px;
      }
    }

    .su_icon--close {
      right: 20px;
    }
    .su_icon--next {
      right: calc(50% - 50px);
    }
    .su_icon--prev {
      right: calc(50% + 50px);
    }

    .su_icon--next,
    .su_icon--prev {  
      visibility: visible;
    }

    .su_icon--next {
      z-index: 10;
    }

    .su_icon--prev {
      overflow: hidden;
      z-index: 9;
    }
  }

  .su_hidden {
    visibility: hidden;
  }



}